DJANGO_SECRET_KEY=troque-por-uma-chave-forte
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=saas_personal
POSTGRES_USER=saas_personal
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_HOST=db
POSTGRES_PORT=5432
SUPERADMIN_EMAIL=admin@exemplo.com
SUPERADMIN_PASSWORD=TroqueEstaSenha123!
SUPERADMIN_NAME=Administrador
